 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 786px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1366px;
	 height: 786px;
	 z-index:1;
} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1366px;
	 height: 786px;
	 z-index:2;
} 

 #Shape10 
{ 
	 left: -13px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1393px;
	 height: 37px;
	 z-index:3;
} 

 #Shape10copy 
{ 
	 left: -22px; 
	 top: 751px; 
	 position: absolute; 
	 width: 1393px;
	 height: 37px;
	 z-index:4;
} 

 #Name 
{ 
	 left: 53px; 
	 top: 51px; 
	 position: absolute; 
	 width: 276px;
	 height: 52px;
	 z-index:5;
} 

 #shadow 
{ 
	 left: 0px; 
	 top: 140px; 
	 position: absolute; 
	 width: 1345px;
	 height: 102px;
	 z-index:6;
} 

 #Shape4 
{ 
	 left: 44px; 
	 top: 151px; 
	 position: absolute; 
	 width: 1262px;
	 height: 51px;
	 z-index:7;
} 

 #Shape1 
{ 
	 left: 42px; 
	 top: 148px; 
	 position: absolute; 
	 width: 1264px;
	 height: 52px;
	 z-index:8;
} 

 #AboutPortfoli 
{ 
	 left: 69px; 
	 top: 166px; 
	 position: absolute; 
	 width: 806px;
	 height: 14px;
	 z-index:9;
} 

 #Shape7copy 
{ 
	 left: 51px; 
	 top: 241px; 
	 position: absolute; 
	 width: 1240px;
	 height: 309px;
	 z-index:10;
} 

 #EnterDetailsAboutyou 
{ 
	 left: 149px; 
	 top: 327px; 
	 position: absolute; 
	 width: 165px;
	 height: 13px;
	 z-index:11;
} 

 #Whoarewe 
{ 
	 left: 91px; 
	 top: 282px; 
	 position: absolute; 
	 width: 147px;
	 height: 19px;
	 z-index:12;
} 
